<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container">
  <div class="headerrow">
    <div class="hdritm"><span class="tgl"><a (click)="toggleLeftMenu()">Toggle Left Menu</a></span>
    </div>
    <br>
  </div>
  <div class="bodyrowcnr">
    @if (isMenuVisible) {
    <div class="menucolcnr">
      <div class="menulbl"><a routerLink="/home/page1">Page 1</a><br></div>
      <div class="menulbl"><a routerLink="/home/page2">Page 2</a><br></div>
      @if (isPanelVisible) {
      <app-panel-comp [title]="'Nav Panel'" 
      [panelBodyText]="panelBodyText"
      (openerCanClose)="closePanel()">
      </app-panel-comp>
      }
    </div>
    }
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>